extends main

block site_title
  != __("Archives") + " · " + config.title

block description
  - var desc = __("Archives") + __("Page") + " - " + config.title;
  meta(name="description", content=desc)

block content
  .content
    .archive
      h1= __("Archives")
      include mixins
      +make_post_list
      +make_pager(__('prev'), __('next'))
