extends main
block content
  .content
    .post-container.index-post
      h1(title="")
        a(href="/")= config.title
      if theme.description
        .description
          p!= theme.description
      - var index_page = site.pages.data.find((x) => x.source === "index.md");
      if index_page && index_page.content
        .index-content!= index_page.content
    include mixins
    each item in page.posts.data
      +make_post_excerpt(item)
    if site.posts.length > config.index_generator.per_page && ( config.per_page != 0 || config.index_generator.per_page != 0 )
      +make_pager(__('prev'), __('next'))
